################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
*.suo
*.user
/CriptoWalletApi/.vs/
CriptoWalletApi/bin/
CriptoWalletApi/obj/
CriptoWalletApi/.vs/
/CriptoWalletApi/.vs/CriptoWalletApi/DesignTimeBuild/.dtbcache.v2
/CriptoWalletApi/bin/Debug/net6.0/CriptoWalletApi.dll
/CriptoWalletApi/bin/Debug/net6.0/CriptoWalletApi.pdb
/CriptoWalletApi/obj/Debug/net6.0/ref/CriptoWalletApi.dll
/CriptoWalletApi/obj/Debug/net6.0/refint/CriptoWalletApi.dll
/CriptoWalletApi/obj/Debug/net6.0/CriptoWalletApi.pdb
/CriptoWalletApi/obj/Debug/net6.0/CriptoWalletApi.dll
/CriptoWalletApi/obj/Debug/net6.0/CriptoWalletApi.csproj.CoreCompileInputs.cache
/CriptoWalletApi/.vs/CriptoWalletApi/v17/.futdcache.v2
/CriptoWalletApi/.vs/ProjectEvaluation/criptowalletapi.metadata.v5.2
/CriptoWalletApi/.vs/ProjectEvaluation/criptowalletapi.projects.v5.2
