<div class="login d-flex flex-column justify-content-start align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="../../../assets/send-deposit.png" class="imgLogo" alt="Registration page logo">
      <h2 class="p-3">Transaction History</h2>
    </div>
    <table class="table table-dark" >
      <thead>
        <tr class="table-dark">
          <th scope="col">Date</th>
          <th scope="col">Account</th>
          <th scope="col">Recipient Account</th>
          <th scope="col">Type of operation</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let movimiento of movimientos">
          <th scope="row">{{movimiento.fechaHoraTransaccion | date}}</th>
          <td>{{movimiento.cuentaOrigen}}</td>
          <td>{{movimiento.cuentaDestino}}</td>
          <td *ngIf="movimiento.idTipoMovimientos==2">Deposit</td>
          <td *ngIf="movimiento.idTipoMovimientos==3">Transfer</td>
          <td>{{movimiento.monto | currency}}</td>
        </tr>
      </tbody>
    </table>
   
</div>
