<div class="login d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="../../../assets/2page_sdsd.52a68d96.png" class="imgLogo" alt="Registration page logo">
      <h2 class="p-3">Registration Form</h2>
    </div>
    
    <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="enter your email" required>
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password: </label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="enter a password" required>
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Repeat password:</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="repeat your password" required>
        </div>
        <div class="col-6">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St example" required>
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity" placeholder="enter your city" required>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" required>
            <label class="form-check-label" for="gridCheck">
              Accept all terms and conditions
            </label>
          </div>
        </div>
        <div class="col-12 d-flex gap-4 justify-content-center">
          <button type="submit" class="btn btn-primary">Register me</button>
          <a routerLink="/login" class="btn btn-outline-danger text-white">Go Back</a>
        </div>
      </form>
</div>
