<div class="login container d-flex flex-column justify-content-start align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="../../../assets/verify-identity.png" class="imgLogo" alt="Login page logo">
      <h2 class="p-4">Welcome to Cripto-Wallet</h2>
    </div>
      
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="col-7 d-flex flex-column gap-5">
          <div class="col-md-12">
            <label for="email" class="form-label" >Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="alerta">
              <div *ngIf="loginForm.get('email')?.errors?.['required']">
                Email is required.
              </div>
              <div *ngIf="loginForm.get('email')?.errors?.['email']||loginForm.get('email')?.errors?.['pattern']">
                You must enter a valid email format.
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <label for="password" class="form-label"  >Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="alerta">
              <div *ngIf="loginForm.get('password')?.errors?.['required']">
                Password is required.
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-primary text-white" [disabled]="loginForm.invalid"><a class="text-white">Login</a></button>
          </div>
          <div class="col-12 d-flex justify-content-center">
              <p>Aren't you register? <a routerLink="/registration">click here</a> </p>
          </div>
             
      </form>
  </div>
